@model AwardWeb.AlertListModel
<table class="table-striped table">
    <thead>
        <tr>
            <th scope="col">
                @Html.ActionLink("From", null,null,new { orderField = AlertOrderField.From, descending = !Model.Descending && Model.OrderField==AlertOrderField.From })
            </th>
            <th scope="col">
                @Html.ActionLink("To",  null, null, new { orderField = AlertOrderField.To, descending = !Model.Descending && Model.OrderField == AlertOrderField.To })
            </th>          
            <th scope="col">
                @Html.ActionLink("Pax", null, null, new { orderField = AlertOrderField.Pax, descending = !Model.Descending && Model.OrderField == AlertOrderField.Pax })
            </th >          
            <th scope="col">
                @Html.ActionLink("Class", null, null, new { orderField = AlertOrderField.BookinClass, descending = !Model.Descending &&  Model.OrderField == AlertOrderField.BookinClass })
            </th>    
            <th scope="col">
                @Html.ActionLink("From date", null, null, new { orderField = AlertOrderField.FromDate, descending = !Model.Descending && Model.OrderField == AlertOrderField.FromDate })
            </th>          
            <th scope="col">
                @Html.ActionLink("To date", null, null, new { orderField = AlertOrderField.ToDate, descending = !Model.Descending && Model.OrderField == AlertOrderField.ToDate})
            </th>          
            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var alert in Model.Alerts)
        {
            var css = !alert.IsActive ? "class=warning" : "";
            <tr >
                <td @css>@(alert.Origin)</td>
                <td @css>@(alert.Destination)</td>
                <td @css>@(alert.Passengers)</td>
                <td @css>@(alert.CabinClass)</td>
                <td @css>@(alert.FromDate.HasValue ? alert.FromDate.Value.ToString("yyyy-MM-dd") : "")</td>
                <td @css>@(alert.ToDate.HasValue ? alert.ToDate.Value.ToString("yyyy-MM-dd") : "")</td>
                <td @css>@Html.ActionLink("Delete", nameof(AwardWeb.Controllers.AlertsController.DeleteAlert), "Alerts" , new { id = alert.Id })</td>
            </tr>
        }
    </tbody>
</table>
