@model IEnumerable<AwardData.Changes>
@{
    ViewData["Title"] = "Availability change log";
    ViewData["Canonical"] = Url.Action("Changes");
}

<h1>Lost+found</h1>
        <table class="table-striped table">
            <thead>
                <tr>
                    <td>UTC</td>
                    <td>Change</td>
                    <td>Seats</td>
                    <td>Route</td>
                    <td>Flight</td>
                    <td>Travel date</td>
                    <td>Available</td>
                </tr>
            </thead>
            @foreach (var f in Model)
            {
                var diff = f.Business - (f.c2.HasValue ? f.c2.Value : 0);
            <tr>
                <td>@f.CrawlDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@(diff > 0 ? "found" : "lost") </td>
                <td>@Math.Abs(@diff)</td>
                <td>@f.Route.ToString(f.Return)</td>
                <td>@f.Flight</td>
                <td>@f.TravelDate.ToString("yyyy-MM-dd")</td>
                <td>@f.Business</td>
            </tr>
            }
            </table>

